.titulo-pag {
    font-family: "Bebas Neue", serif;
    font-size: 40px;
    padding: 20px
}

.secao-carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 5px;
    height: 60vh;
    width: 100%;
}

.lista-carrinho {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 600px;
    gap: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    padding: 20px;
}

.item-img img {
    width: 100px;
}

.detalhes {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.detalhes span {
    font-family: "Ubuntu", 'Courier New', sans-serif;
    font-size: 20px;
}

.preco {
    color: var(--amarelo-dourado);
    font-weight: bold;
}

.botao {
    display: flex;
}

.botao button {
    width: 80px;
    height: 30px;
    background-color: var(--amarelo-dourado);
    color: var(--azul-profundo);
    font-family: "Ubuntu", 'Courier New', sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao button:hover {
    background-color: var(--laranja-quente);

}